/* the same code in main.css for the header and navbar */
:root{
    --body-copy-color:rgb(252,220,168);
    --primary-color:rgb(153,211,180);
}
h1,h2{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

body{
    background-color: var(--primary-color);
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
.cropped{
    width: 375px;
    height: 90px;
    overflow: hidden; 
} 
.cropped::after{
    clear: both;
    content: "";    
}
#logo{
    max-width: 375px;
    margin: -50px 0px 0px -100px;
    float: left;
}

.icons{
  opacity: 50%;
  margin: 20px;
  white-space: nowrap;  
}
i{
  font-size: 30px;
  padding: 5px;  
}


header{
    background-color:rgb(240,145,145);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}
.searching{
    display: none;
}

nav{
    background-color: rgb(145,53,53);
    max-width: 150px;
    float: right;
    position: absolute;
    right:0%;
    padding: 10px;
    opacity: 0%;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: auto 0;
    padding: 10px;
    display: grid;
    gap: 10px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(240,145,145)
}
.clearfix{
    content: "";
    clear: both;
}

nav:hover{
    opacity: 100%;
}
/* -------Above up are the same code in main.css----------------- */
.grinder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:250px;
    overflow: hidden;  
}
/* cropping image */
.grinder img{
    max-height: 260px;
    margin: -20px 0px 0px -90px; 
}

.information{
    background-color: rgb(106, 149, 126);
    border-radius: 8%;
    margin: 50px;
    padding: 10px;
}
.information h2{
    margin-left: 10%;
    margin-right: 10%;
}

.information p{
    margin-bottom: 50px;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}


/* ----------------------------- */
footer{
    background-color:rgb(106,91,66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}
.icons2{
    float: right;
}

footer img{
    max-height: 100px;
    max-width: 100px;
}
/* ---------set new navbar for desktop version, same code as main.css--------------- */
@media screen and (min-width:760px){
    img{
        border-radius: 20px;
    }
    
    .navigation{
        width: 100%;
    }
    nav{
        opacity: 100%;
        justify-content: center;
        max-width: 100%;
        float: none;
        position: inherit;
    }
    nav ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;    
    }
    .icons{
        display: none;
    }
    .searching{
        display: block;
        margin: 20px;
    }
    input{
        border-radius: 50px;
        padding: 5px;
        width: 250px;
        border: none;
    }
    button{
        background-color: brown;
        border-radius: 50px;
        color: white;
        padding: 9px;
        border: none;
    }
}    